<div class="header">
  <span style="color:#ffffff"> ABOUT US </span>
</div>
<!--div class="container row">
  <h1>About</h1>
</div-->

<hr>
<div class="about-container row container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
   <ul class="about">
      <li class="team-mates">
        <span class="badge">1. Pawan Parihar</span>
      </li>
      <li class="team-mates">
        <span class="badge">2. Dipmalya Sen</span>
        </li>
      <li class="team-mates">
        <span class="badge">3. Himanshu Sagar</span>
      </li>
      <li class="team-mates">
        <span class="badge">4. Mayank Raj</span>
      </li>
      <li class="team-mates">
        <span class="badge">5. Richa Madhupriya</span>
      </li>
      <li class="team-mates">
        <span class="badge">6. Shrishti</span>
      </li>
      <li class="team-mates">
        <span class="badge">7. Himani Jain</span> 
      </li>
      <li class="team-mates">
        <span class="badge">8. Saiphaniteja Nallan</span>
      </li>
        
      </ul>
  </div>
  <div class="col-md-1"></div>
</div>
